html {
  height: 100%;
  width: 100%;
  background: url('bg.jpg');
  background-size: conver;
}


button{
    padding: 12px 20px;
    margin: 0 3px !important;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif !important;
}


.row{
  margin: 8px 0px;
}

.row input{
  margin: 0;
  font-size: 23px;
  padding: 61px 0px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  background: #747383;
  color: white;

}

h1{
  font-family: 'Kanit', sans-serif;
  color: white;
}

.btn{
    font-size: 30px;
    background: #747383;
    color: white;

  
}

button::placeholder { 
  font-family: 'Kanit', sans-serif;
}
.upper{
  margin: 0 -4px !important;
}